body {
  background-color: bisque;
}

#app {
  background-color: white;
  border-radius: 25px;
  max-width: 400px;
  margin: 5% auto;
  padding: 20px;
  min-height: 500px;
}

#todo-title,
#todo-subtitle {
  text-align: center;
}

#section-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

p {
  margin-bottom: 10px;
}

input {
  min-width: 100px;
}
